.DS_Store

.RData
.Rhistory
.Rproj.user
*.RProj
*.RData
.github-issues

*.mov
*.csv
*.tif
*.txt
*.mp4
*.zip
*.pdf
*.jpg
*.key
*.xls
*.png
*.gif
*.tiff
*.gz
*.docx
*.sqlite
*.pptx

tmp/
data/
results_csv/
20180215/
