.DS_Store

.RData
.Rhistory
.Rproj.user
*.RProj
*.RData
.github-issues

*.mov
*.csv
*.tif
*.txt
*.mp4
*.zip
*.pdf
*.sqlite
*.jpg
*.gif
*.png

*.pptx
*.xls
*.xlsx

.data/
docs/
scratch.R
exportBatch.R
reports/
..Rcheck/
test_apps/
data-raw/results_csv
